<h1>Internal Server Error</h1>
<br>
<h4>Refresh the page</h4>
<br>
<ng-container *ngIf="error">
    <h5 class="text-danger">Error: {{error.statusText}}</h5>
    <br>
    <p>To Do List</p>
    <ol>
        <li>Open Chrome dev tools, Then chek=ck the failing request in the network tab</li>
        <li>Examine the request URL - API endpoints</li>
        <li>Reproduce the problem in Postman</li>
    </ol>
    <p style="font-weight: bold;">Fallow the stack trace ---</p>
    <code class="mt-5" style="background-color: whitesmoke;">
        {{error | json}}
    </code>
</ng-container>
